<p id="notice"><%= notice %></p>

<p>
  <strong>Name cattle league:</strong>
  <%= @league.name_cattle_league %>
</p>

<p>
  <strong>Year:</strong>
  <%= @league.year %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
