<p id="notice"><%= notice %></p>

<p>
  <strong>Name cattle:</strong>
  <%= @participant.name_cattle %>
</p>

<p>
  <strong>Score:</strong>
  <%= @participant.score %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
